title: Évènements
-------------------
<section>

  <h1>Évènements</h1>

  <a class="button right withPicto agenda" style="margin-right: 30px" href="agenda.html">Prochaines Dates...</a>

  <p>
    Vous avez entendu parler de permaculture et voulez en découvrir davantage ? Savoir comment l'intégrer dans votre vie
    ?
  </p>
  <p>
    Voici les différents formats d'événements que je propose :
  </p>

  <p>
   Vous souhaitez...
  </p>

  <div class="flexArea">
    <a href="conference-atelier.html">

      <h2>Apprendre une formule magique ?</h2>

      <strong class="right">quelques heures</strong>

      <h3>Conférences / Ateliers</h3>
      <p>Je peux intervenir sur divers sujets qui me passionnent,
        que j'aborde toujours avec l'angle de vue de la permaculture.
        De quoi vous donner quelques clés concrètes à appliquer dans votre vie
        et pour mieux comprendre la permaculture
        à travers l'illustration d'exemples concrets.
      </p>

    </a><a href="formation.html">

    <h2>Vous initier aux secrets ? </h2>

    <strong class="right">week-end</strong>

    <h3>Stages d'initiation</h3>

    <p>2 jours pour appréhender la permaculture sous ses multiples formes
      par l'expérience et des activités interactives
      ainsi que d'acquérir des pratiques concrètes.
    </p>

  </a><a href="permaculture-design-cours.html">

    <h2>Plonger dans la potion magique !</h2>

    <strong class="right">15 jours</strong>

    <h3>Cours de Conception ~ CCP</h3>

    <p>15 jours d'immersion totale dans le monde de la permaculture
      accompagnéE d'une 10aine d'expertEs passionnéEs
      et, en sortir avec des paillettes plein les yeux
      et surtout des ailes pour s'activer vers de nouveaux horizons.
    </p>
  </a>
  </div>
</section>
