<header>
  <nav class="main">
    <h1><a href=""><img src="img/logo.svg" alt="<%=titre%>"/></a><a class="titre" href=""><%=titre%></a>
    </h1>
    <div class="spacer"></div>

    <a href="./">Accueil</a>
    <a href="./stage.html">Stages</a>
    <a href="./accompagnement.html">Accompagnements</a>
    <!--<a href="./FAQ.html">FAQ</a>
    <a>Formations, Conférences, ateliers, stages, agenda</a>
    <a href="./accompagnement.html">Accompagnements</a> <a>Design, conseils</a>-->
    <a href="./blog.html">Blog</a>
    <a href="./presentation-julia-schindler.html">Qui suis-je ?</a>
    <a href="./contact.html">Contact</a>
  </nav>
  <div id="disclamer"><div class="close">X</div>Le design en permaculture, c'est observer, analyser, implémenter, et ré-évaluer au fur et à mesure... tout comme le design de ce site qui est en continuelle évolution ! Bonus : Site sans cookies.</div>
</header>
