title: Accueil
<<: !!inc/file ../temoignages.yml
<<: !!inc/file ../dates.yml
-------------------

<section id="splash">
  <h1 class="textSplash">Connectons-nous à la magie du vivant pour retrouver le pouvoir d'agir&nbsp;!</h1>
</section>
<section>
  <a class="button right withPicto agenda" href="agenda.html">Prochaines Dates...</a>

<article class="flashy">Stages adaptés pour être maintenus en période de confinement !</article>

<h2>En quoi la permaculture peut vous aider ?</h2>

<p>
  Le basculement de notre monde révélé par le corona virus montre l'ampleur de la réelle précarité de notre société occidentale
  centrée sur l'individualisme et l'accumulation de richesses.
  Ce monde ne vous convient plus et vous souhaitez faire partie de ceux qui construisent le nouveau? Alors à l'abordage!!...
</p><p>
  Embarquez pour un voyage initiatique où vous comprendrez les grandes failles de notre modèle de société,
  vous découvrirez des centaines d'initiatives à travers le monde qui tentent et réussissent à faire différemment...
  et vous aurez découvert la permaculture...
</p><p>
  En effet, la permaculture n'est pas une forme d'agriculture, des méthodes ou techniques de jardinages.
  La permaculture, c'est un nouveau regard porté sur notre environnement,
  c'est le (re)apprentissage de travailler avec Dame Nature ou notre Pacha Mama plutôt qu'en la détruisant.
</p><p>
  Quelles sont les clés pour construire une société respectueuse du vivant et des humains?
  Quelle est ma place dans ce monde incertain, anxiogène...?
  Comment puis-je être acteurice de ma vie et contribuer au changement de société?
  Comment est-ce que je peux changer pas à pas mes habitudes de vies et contribuer à créer la société dans laquelle j'aimerai voir grandir les enfants, une société avec plus de paix, de partage, de confiance?...
  Quelles sont les actions concrètes que je peux mettre en place dès aujourd'hui?
</p><p>
  La permaculture... c'est la réponse à toutes ces questions! :)
</p>

</section>
<section>
  <h2>Témoignages</h2>
<%- include('../fragments/temoignages.ejs',{filter:"CCP"}); %>
</section>
<section>
  <h2>Dates à venir</h2>

<%
const now = (new Date()).getTime();
const futureEvents = events.filter( (e) => e.dateEnd.getTime()>now );
futureEvents.sort( (a,b) => a.dateStart.getTime() - b.dateStart.getTime() );
futureEvents.forEach(event=>{
_%>
<%- include('../fragments/event.ejs',{myEvent:event}); %>
<% }); _%>
</section>
