<?xml version="1.0" encoding="UTF-8"?>
<sitemapindex xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
	<% Object.keys(availableLang).forEach(l=>{ _%>
	<sitemap>
		<loc><%=canonical%><%=l%>/sitemap.xml</loc>
		<lastmod><%=now%></lastmod>
	</sitemap>
	<% }); _%>
</sitemapindex>
