@import "node_modules/1gallery/1gallery.css"

fuschia = #914
vert = #250
sable = #fec
colorOr = darken(sable,30%) //#DBAC45
linkColor = darken(vert,30%) // darken(sable,80%)
linkUnderlineColor = alpha(linkColor, .15)
bleuDuniter=#4AF
menuBorderSize=2px
menuHeight=64px
menuHeightArea=menuHeight+menuBorderSize
smallSpace=10px
asideWidth=0px
bgMain=white
bgMenu=linear-gradient(to right, vert, alpha(vert,70%) 30%, alpha(vert,60%) 100%)
colorMenu=sable
bgArticle=sable
bgMenuHover=linear-gradient(to top, #cef, #acd)
bgAside=bgArticle
bgFocus=hsla(0,0,100%,.5);
bannerTextSize=unquote("calc(3vw + 3vh)")
bannerLineSpace=unquote("calc(4vw + 4vh)")
tabHoverColor=alpha(#000, .1)
afterSplash=100px

buttonTextSize=unquote("calc(1vw + 1vh)")
bgButton=darken(sable,60%)
buttonTextColor=sable

underline()
  border 0
  border-bottom 1px solid transparent
  border-image linear-gradient(to right, alpha(lighten(colorOr,30%),0) 0%, lighten(colorOr,30%) 25%, lighten(colorOr,30%) 75%, alpha(lighten(colorOr,30%),0) 100%) 100% 1

// https://www.fontsquirrel.com/tools/webfont-generator
@font-face {
  font-family: 'great_vibes';
  src: url('img/fonts/greatvibes-regular-webfont.woff2') format('woff2'),
    url('img/fonts/greatvibes-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'grundschrift';
  src: url('img/fonts/grundschrift-bold-webfont.woff2') format('woff2'),
    url('img/fonts/grundschrift-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'grundschrift';
  src: url('img/fonts/grundschrift-regular-webfont.woff2') format('woff2'),
    url('img/fonts/grundschrift-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'grundschrift';
  src: url('img/fonts/grundschrift-light-webfont.woff2') format('woff2'),
    url('img/fonts/grundschrift-light-webfont.woff') format('woff');
  font-weight: lighter;
  font-style: normal;
}
/*
@font-face {
  font-family: 'grundschrift_kontur';
  src: url('img/fonts/grundschrift-kontur-webfont.woff2') format('woff2'),
    url('img/fonts/grundschrift-kontur-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'grundschrift_punkt';
  src: url('img/fonts/grundschrift-punkt-webfont.woff2') format('woff2'),
    url('img/fonts/grundschrift-punkt-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*/

@font-face {
  font-family: 'now';
  src: url('img/fonts/now-bold-webfont.woff2') format('woff2'),
    url('img/fonts/now-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'now';
  src: url('img/fonts/now-regular-webfont.woff2') format('woff2'),
    url('img/fonts/now-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/*
@font-face {
  font-family: 'now_black';
  src: url('img/fonts/now-black-webfont.woff2') format('woff2'),
    url('img/fonts/now-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'now_extrabold';
  src: url('img/fonts/now-extrabold-webfont.woff2') format('woff2'),
    url('img/fonts/now-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'now_extralight';
  src: url('img/fonts/now-extralight-webfont.woff2') format('woff2'),
    url('img/fonts/now-extralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'now_light';
  src: url('img/fonts/now-light-webfont.woff2') format('woff2'),
    url('img/fonts/now-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'now_medium';
  src: url('img/fonts/now-medium-webfont.woff2') format('woff2'),
    url('img/fonts/now-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'now_semibold';
  src: url('img/fonts/now-semibold-webfont.woff2') format('woff2'),
    url('img/fonts/now-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'now_thin';
  src: url('img/fonts/now-thin-webfont.woff2') format('woff2'),
    url('img/fonts/now-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*/

*
  margin 0
  padding 0
  border 0
  box-sizing border-box
  color darken(sable,95%)
  font-family now, sans-serif
  line-height 160%

@media screen
  .onlyPrint
    display none !important
  body
    background bgMain
    display flex
    flex-direction column
    justify-content center

@media print
  nav, footer, .noPrint, .neverPrint, canvas, .close, .bgPopupClose, .anchorLink
    display none !important
  .print
    display block !important
  [data-print]::after
    content attr(data-print)
    font-size 0.7em
    font-weight normal
    white-space nowrap
  [data-print]
    text-align left
  .subPage.print
    opacity 1
    margin-left 50px
  #splash, #splash>*
    height 12cm !important
    width 100% !important
    background transparent !important
    .onlyPrint
      width 100%
    .countdown
      padding-top 1.5cm !important
      line-height 1.5cm !important
  section
    background none !important
  #accueil .focusBox, #decouvrir, #participerPrint, #info_pratique
    page-break-after always
  .day, img
    page-break-inside avoid
  article .columnArea > *
    display block
  #programme
    .unselected, .inactive
      opacity 1
    article .speakersList
      position initial
  body #programme .day .places li
    display inline-block
  #accueil #decouvrir
    >h2
      text-align center
    >div
      display block
      >div
        flex unset
        /*border-left none
        float left
        width 7.5cm
        padding 0
        &:first-child
          float left
          width 11.5cm
        &:last-child
          clear both
          width 100%
          */
        >ul
          display block
          >li
            flex unset
            text-align left
            margin 0
            padding 0
            >a
              height 100%
              display block
              padding 0px
              .picto
                display inline-block
                vertical-align middle
                margin 0 10px
                font-size 32px
                line-height 32px
                >img
                  height 32px
              .title span
                display block
                margin-left 1.5cm
                margin-top -.2cm
  #apropos .columnArea>*
    padding 10px
    margin-bottom 10px
  .subPage.active
    display block !important
    overflow initial !important
    border none !important
    *
      flex unset !important
      border none !important
    .speaker
      clear both
      page-break-inside avoid
      margin-bottom 0.2cm
      *
        text-align justify !important
      img
        float left !important
        max-height 3cm !important
        margin-bottom 10px !important
        margin-right 10px !important
  #programme article ul li.day
    display block
    clear both
    .sessions
      display block
  .timelines
    min-height 4cm
    float left
    display block
    clear both
    position relative
    .timeline
      float left
      height 100%
      display block
a.nav
  position absolute
  top 10px
  padding 10px
  display block
  height 44px
  img
    height 24px
    opacity .3
  &:hover img
    opacity .9

/*
.previous
  left 30px
.next
  left 75px
*/
.video
  margin-top 40px
  text-align center
.videoArea
  width 888px
  height 500px
  background-color black
  display block
  margin auto
  text-align center
  padding-top 0.1px
  &:hover img
    transform scale(1.2)
  &:active img
    background-color #ccc

  img
    display block
    margin auto
    margin-top ((500px - 28 - 42)/2)
    padding 20px
    padding-top 8px
    background-color #eee
    border-radius 25px
    transition transform 0.2s
  @media (max-width: 1120px)
    width 560px
    height 315px
    img
      margin-top ((315px - 28 - 42)/2)
  @media (max-width: 620px)
    width 428px
    height 240px
    img
      margin-top ((240px - 28 - 42)/2)
  @media (max-width: 490px)
    width 256px
    height 144px
    img
      margin-top ((144px - 28 - 42)/2)


.vids a img
  height bannerTextSize
  transition transform 0.2s
  &:hover
    transform scale(1.2)


.eventArea .titleBar
  float right
  img
    width 64px
  a
    display inline-block
.infoBoxParent
  position relative
  z-index 1
  .infoBox
    display none
    opacity 0
    transition opacity 0.5s
    z-index 2
  &:hover .infoBox
    display block
    opacity 1
    position absolute
    background white
    border solid 1px lighten(colorOr,30%)
    top "calc(100% + %s)" % 10px
    left 50%
    width 150px
    margin-left (- @width / 2)
    font-size 12px
    text-align center
    padding 10px
    &:before, &:after
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    &:after
      border-color alpha(white,0)
      border-bottom-color white
      border-width 10px
      margin-left -10px
    &:before
      border-color alpha(lighten(colorOr,30%),0)
      border-bottom-color lighten(colorOr,30%)
      border-width 11px
      margin-left -11px


a
  color linkColor
  text-decoration-color linkUnderlineColor
  *
    color inherit
a:hover
  text-decoration-color alpha(linkColor, .9)
header h1
  margin 0

h1 img
  height menuHeight
  padding 6px
  float left
h1 .titre
  padding 0 smallSpace
  font-family great_vibes, cursive
  font-size 150%

@media screen
  nav.main
    position fixed
    background bgMenu
    display flex
    justify-content space-around
    width 100%
    line-height menuHeight
    z-index 3
    *
      color colorMenu
    > .spacer
      flex 2
    > a
      //flex 1
      font-family 'grundschrift'
      font-size 20px
      text-align center
      overflow hidden
      white-space nowrap
      margin 0 smallSpace
      border 0 solid transparent
      text-decoration none
      padding 0 1vw
  nav.main a:hover
    color colorOr
    //font-weight bold
    background bgMenu//alpha(bgMenu,.1)
    box-shadow 0px 2px 4px 1px black
  nav.main a
    &, > *
      text-decoration none
      line-height menuHeight
      display inline-block
      vertical-align top


.page
  margin 50px auto
  width 70%
  padding 50px
  box-shadow 0px 2px 4px 1px black
.disclaimer
  margin 50px
  padding 10px 30px
  border 10px solid transparent
  box-shadow 0px 2px 4px 1px black
  background-color alpha(#FE0,0.08)
.MEDdisclaimer, .ddisclaimer
  border 10px solid red
  border-image-source repeating-linear-gradient(45deg, red 0, red 10px,white 10px,white 20px)
  border-image-slice 10

.BADdisclaimer, .ddisclaimer:hover
  color: red;
  display: block;
  animation: blink-animation 0.2s infinite;
  *
    color: inherit

@keyframes blink-animation {
  0% {
    background: linear-gradient(to right, green, yellow);
    color: yellow;
    border-image-source repeating-linear-gradient(-45deg, purple 0, purple 10px,yellow 10px,yellow 20px)
  }
  50% {
    background: linear-gradient(to bottom, yellow, green);
    color: red;
    border-image-source repeating-linear-gradient(60deg, cyan 0, cyan 10px,yellow 10px,yellow 20px)
  }
  100% {
    background: linear-gradient(to right, yellow, green);
    color: purple;
    border-image-source repeating-linear-gradient(45deg, red 0, red 10px,white 10px,white 20px)
  }
}

address
  padding-left 2*smallSpace

p
  margin smallSpace 0
  text-align justify
  text-indent 2*smallSpace
  font-size 1.1em


h1, h2, h3, h4, h5, h6
  margin-top 2*smallSpace
  margin-bottom smallSpace
  color fuschia
  text-align left
  font-family grundschrift, cursive

@media screen
  header+section
    padding-top 80px
    min-height calc(100vh - 70px)
  section
    //margin-top 60px
    padding 5vw
    padding-top 20px
    padding-bottom calc(2.5vw + 2.5vh)
    background bgArticle
    transition background .5s

.focusBox
  font-size 120%
  font-family sans-serif
  text-align justify
  margin 40px auto
  padding 40px
  //margin-top 0
  padding-top 0
  underline()
  column-width 450px
  column-gap 60px
  >*
    text-indent 0
    margin-top 0
    margin-bottom 20px

article
  margin-right calc(5vw - 15px)
  margin-left calc(5vw - 15px)
  //padding-top menuHeightArea
  margin-top 0.5*menuHeightArea
  margin-bottom 0.5*menuHeightArea
  text-align justify
  font-size 110%


li
  margin smallSpace // smallSpace/2
  margin-left 2*smallSpace

em[id]
  display block
  //padding-top menuHeightArea + smallSpace
  //margin-top -(menuHeightArea + smallSpace)
[id]
  h1, h2, h3, h4, h5, h6
    position relative
    .anchorLink
      position absolute
      display block
      left -25px
      width 25px
      top 0
      bottom 0
      background-image url("img/picto/link.svg")
      background-size 20px
      background-repeat no-repeat
      background-position center left
      opacity .1
      transition opacity .5s
      transition-delay .2s
    &:hover .anchorLink
      opacity .6
      transition-delay 0s
.permalien
  color inherit
  text-decoration none
.highlight
  transition background .5s
  background bgFocus


#splash, #participer, #info_pratique,#keep_in_touch
  //background-color black
  background-image url("img/splash-accueil.jpg")
  background-size cover
  background-position center center
  //background-attachment fixed
#keep_in_touch
  background-size contain
  //background-position top center
  background-repeat no-repeat
  background-image url("img/inscription-newsletter.jpg")
  padding-left 50%
  padding-top 20vh
  padding-right 15%
  .content
    background-color alpha(white,.6)
    padding 2vh 2vw;

#participer, #info_pratique
  background-image url("img/horsehead-rs.jpg")
  article
    background-image linear-gradient(to right, alpha(#fff,0.8) 0%, alpha(#fff,0.7) 66%, alpha(#fff,0.5) 100%)
    background-size cover
    padding 2*smallSpace
    padding-top 1px
    border-radius 4*smallSpace


#splash
  height "calc(100vh - %s)" % afterSplash
  width 100%
  position relative
  z-index 1
  > *
    position absolute
    top 0
    left 0
    right 0
    bottom 0
  .textSplash
    padding 0 smallSpace
    padding-top menuHeightArea
    padding-top 28vh
    padding-left 33vw
    padding-right 5vw
    font-family grundschrift, cursive
    font-size bannerTextSize
    font-weight bold
    display block
    text-shadow 0 0 8px black
    color sable
    line-height 140%
    transition text-shadow 1s
    &:hover
      text-shadow 5px 0 8px red,-5px 0 8px green,0 -5px 8px blue,0 5px 8px yellow
    a
      text-decoration none
      color white
  .countdown
    //font-size (100vw / 32)
    font-size bannerTextSize
    font-weight bold
    color white
    padding-top 28vh
    //padding-top "calc( ( 100vh - %s - %s - 20vw ) / 2.1 + %s)" % (menuHeightArea afterSplash menuHeightArea)
    line-height bannerLineSpace
    //line-height "calc(70vh - %s)" % 70px
    vertical-align center
    text-align center
    text-shadow 0 8px 32px black, 4px 8px 16px black, 2px 4px 8px black
    *
      color inherit


#decouvrir >div>div
  flex 1 720px
  >ul
    display flex
    flex-wrap wrap
    >li
      flex 1 200px
      list-style none
      margin 10px
      padding 10px
      text-align center
      position relative
      >a
        height 100%
        text-decoration none
        display flex
        flex-direction column
        padding 10px
        >*
          flex 1
        .picto
          display block
          margin 10px auto
          font-size 120px
          line-height 120px
          >img
            height 120px
        .title
          color inherit
          text-decoration underline
          text-decoration-color alpha(darken(colorOr,50%), .3)
        &:hover
          background-color alpha(black,.05)
          box-shadow 0px 2px 4px 1px alpha(black,.2)
          .title
            text-decoration-color alpha(darken(colorOr,50%), .9)
      .subPage
        text-align justify
.places
  margin-top 20px

#programme .day
    display flex
    flex-wrap wrap
    padding-top 3vw // ajustement position liens
    margin-top -3vw // ajustement position liens
    >.title
      width 100%
      flex unset
      text-align center
      h3
        margin-left auto
        margin-right auto
        display inline-block
    .places li
      list-style-type none
      margin-left 10px
      .room
        position relative
      .roomDetails
        display none
        opacity 0
        transition opacity 0.5s
      &:hover .roomDetails
        display block
        opacity 1
        position absolute
        background white
        border solid 1px lighten(colorOr,30%)
        left 'calc(100% + %s)' % 10px
        top 50%
        font-size 12px
        line-height 18px
        white-space nowrap
        z-index 1
        height 30px
        margin-top ( - @height /2 )
        padding 5px 10px
        &:before, &:after
          right: 100%;
          top: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
        &:after
          border-color alpha(white,0)
          border-right-color white
          border-width 8px
          margin-top -8px
        &:before
          border-color alpha(lighten(colorOr,30%),0)
          border-right-color lighten(colorOr,30%)
          border-width 9px
          margin-top -9px

    >div
      flex 2 300px
    .sessions
      flex 1 620px
      display flex
      position relative
      text-align left
      .timelines
        display flex
        flex-wrap nowrap
        flex-direction row-reverse

        position relative
        width 40px
        margin-right 5px
        height 100%
        underline()
        border-bottom 0
        border-top 1px solid transparent
        padding-top 5px
        .timeline
          display inline-block
          position relative
          width 10px
          height 100%
        .timeBloc
          display block
          position absolute
          width 6px
          left 0
      .sessionList
        > a
          display block

.startTime
  color inherit;

.roomRef
  color: transparent;
  display: inline-block;
  border-radius: 100%;
  width: 16px;
  height: 16px;
  line-height: 100%;
  vertical-align: middle;
  margin-top: -2px;


roomColor(color)
  &.roomRef
    background-color alpha(color,.3)
    &.hover
      background-color alpha(color,1)
  &.subPageLink
    text-decoration none
    box-shadow inset 0 0px 0 alpha(color, 0), inset 0 -2px 0 alpha(color, .3)
    &:hover, &.hover
      box-shadow inset 0 0px 0 alpha(color, 0), inset 0 -2px 0 alpha(color, 1)
  .timeBloc
    background-color alpha(color,.3)
    &:hover, &.hover
      background-color color

.room_1
  roomColor(#C70)
.room_2
  roomColor(#099)
.room_3
  roomColor(#A0E)
.room_4
  roomColor(#2B0)
.room_5
  roomColor(#33E)

.inactive, .subPage[id^="session_"].inactive, #programme .inactive, #programme .day .inactive
  display none

body>section
  position relative

.subPage
  padding 4*smallSpace
  //padding-top menuHeightArea
  border 0
  border-left 4px solid alpha(lighten(colorOr,30%),0)
  border-image linear-gradient(to bottom, alpha(lighten(colorOr,30%),0) 0%, lighten(colorOr,30%) 25%, lighten(colorOr,30%) 75%, alpha(lighten(colorOr,30%),0) 100%) 1 100%

  //background-color white
  //background-image url("img/filigrane.jpg")
  //background-size cover
  //background-position bottom center
  //background-attachment fixed

  &>*:last-child
    padding-bottom 4*smallSpace
  &[id^="session_"]
    display flex
    flex-wrap wrap
    .eventArea
      flex 3 500px
      margin 0
      margin-right 4*smallSpace
      padding 0
      padding-bottom 4*smallSpace
    .speakersArea
      flex 1 250px
      padding-bottom 4*smallSpace
      img
        max-width 66%
        max-height 250px
        border-radius 100%
        display block
        margin auto
      .speaker
        underline()
        padding-bottom 40px
        margin-bottom 40px
        &:last-child
          border-bottom none
          padding-bottom 0
          margin-bottom 0
        h4, > a
          text-align center
          display block
          margin auto
  h1
    font-size 180%
  img
    max-width 100%
  @media screen
    &.active, &[id^="session_"].active
      position fixed;
      top (2*menuHeightArea - 2px)
      bottom  menuHeightArea
      left menuHeightArea
      right menuHeightArea + asideWidth
      padding 4*smallSpace
      background-color white
      box-shadow 0 0 5*smallSpace smallSpace black
      overflow auto
      z-index 5
      .close
        position fixed
        z-index 1
        top 2*menuHeightArea +2px
        right menuHeightArea + asideWidth + 2 * smallSpace
        padding 6px 3*smallSpace 2px
        margin 0 smallSpace
        font-family sans-serif
        font-weight bold
        background-color rgba(100%,100%,100%,.9)
        text-decoration none
        display block
        underline()
      .bgPopupClose
        position fixed
        background-color hsla(0,0,0,0.4);
      .bgTop
        top menuHeight
        bottom "calc(100% - %s)" % (2*menuHeightArea)
        left 0
        right 0
      .bgBottom
        top "calc(100% - %s)" % menuHeightArea
        bottom 0
        left 0
        right 0
      .bgLeft
        top 2*menuHeightArea
        bottom menuHeightArea
        left 0
        right "calc(100% - %s)" % menuHeightArea
      .bgRight
        top 2*menuHeightArea
        bottom menuHeightArea
        left "calc(100% - %s)" % (menuHeightArea + asideWidth)
        right 0
      &.large
        top menuHeight+smallSpace - 2px
        bottom  smallSpace
        left smallSpace
        right smallSpace
        padding smallSpace
        padding-top 3*smallSpace
        .close
          position fixed
          top menuHeightArea+smallSpace
          right smallSpace + 2 * smallSpace
        .bgTop
          top menuHeight
          bottom "calc(100% - %s)" % (menuHeight+smallSpace)
          left 0
          right 0
        .bgBottom
          top "calc(100% - %s)" % smallSpace
          bottom 0
          left 0
          right 0
        .bgLeft
          top menuHeight+smallSpace
          bottom smallSpace
          left 0
          right "calc(100% - %s)" % smallSpace
        .bgRight
          top menuHeight+smallSpace
          bottom smallSpace
          left "calc(100% - %s)" % (smallSpace + asideWidth)
          right 0
      @media (max-width: 730px)
        &.active, &[id^="session_"].active
          top menuHeight+smallSpace - 2px
          bottom  smallSpace
          left smallSpace
          right smallSpace
          padding smallSpace
          padding-top 3*smallSpace
          .close
            position fixed
            top menuHeightArea+smallSpace
            right smallSpace + 2 * smallSpace
          .bgTop
            top menuHeight
            bottom "calc(100% - %s)" % (menuHeight+smallSpace)
            left 0
            right 0
          .bgBottom
            top "calc(100% - %s)" % smallSpace
            bottom 0
            left 0
            right 0
          .bgLeft
            top menuHeight+smallSpace
            bottom smallSpace
            left 0
            right "calc(100% - %s)" % smallSpace
          .bgRight
            top menuHeight+smallSpace
            bottom smallSpace
            left "calc(100% - %s)" % (smallSpace + asideWidth)
            right 0

a.subPageLink
  clear both
  &.active:after
    content " "
    background linear-gradient(to left, lighten(colorOr,30%) 0, alpha(lighten(colorOr,30%),0) 100%)

#programme .speakersList
  position sticky
  top 70px
  left 0
  right 0
  z-index 1
  .speakerHead
    position relative
    display inline-block
    margin 0
    img
      width 100%
      border-radius 100%
      background-color white
      cursor pointer

    &.active:after
      cursor pointer
      position absolute
      top -10%
      right -10%
      width 40%
      height 40%
      text-align center
      content ""
      background fuschia
      background-image url("img/picto/croixBlanche.svg")
      background-position center center
      background-size 50% 50%
      background-repeat no-repeat
      color white
      font-weight bold
      border-radius 100%
    .name
      display none
      opacity 0
      transition opacity 0.5s
    &:hover .name
      display block
      opacity 1
      position absolute
      background white
      border solid 1px lighten(colorOr,30%)
      top 110%
      left 50%
      width 130px
      margin-left (- @width / 2)
      font-size 12px
      text-align center
      padding 10px
      &:before, &:after
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      &:after
        border-color alpha(white,0)
        border-bottom-color white
        border-width 10px
        margin-left -10px
      &:before
        border-color alpha(lighten(colorOr,30%),0)
        border-bottom-color lighten(colorOr,30%)
        border-width 11px
        margin-left -11px


.session>.subPageLink, .speakerHead
  transition opacity .5s
.unselected, .inactive
  opacity .3
  &:hover
    opacity 1

#espace_presse
  figure
    flex 1 250px
    text-align center
    *
      text-align center
    >*
      flex 1
    img
      display block
      margin auto
      max-width 250px

//- tab hover
tr:hover
  background-color tabHoverColor
thead tr:hover
  background-color transparent
//- end tab hover
table
  border-collapse collapse

.strong
  font-weight bold


.columnArea
  margin-top 20px
  column-width 450px
  column-fill balance
  //column-rule solid #ccc 1px
  column-rule solid alpha(lighten(colorOr,10%),.4) 1px

  > *
    display inline-block
    padding 20px
    padding-top 0
    underline()
    margin-bottom 20px
    h3
      margin-top 0

#contact
  //padding-top menuHeightArea
  //margin-top - menuHeightArea
  /*
  ul
    display flex
    flex-wrap wrap
    li
      flex 1 200px
      list-style none
      margin 10px
      padding 0
      text-align center
      */


aside.global
  display none
  position fixed
  top menuHeightArea
  right 0
  bottom 0
  padding smallSpace
  width asideWidth
  background bgAside
  border 0
  border-left 1px solid transparent
  border-image linear-gradient(to bottom, lighten(bleuDuniter,90%), lighten(colorOr,10%) 2*menuHeightArea, lighten(bleuDuniter,90%) 6*menuHeightArea) 1 100%

@media (max-width: 730px)
  article
    margin 0
    padding smallSpace
    //padding-top (menuHeightArea)//+smallSpace)

@media (min-width: 1210px) and (max-width: 1460px)
  .spacer
    display none
@media  (max-width: 1060px)
  .spacer
    display none
@media (min-width: 1211px)
  .short
    display none
@media (min-width: 831px) and (max-width: 1210px)
  .long
    display none
@media (max-width: 340px)
  nav.main h1 a+a
    display none
  #splash
    padding-left smallSpace
    a
      font-size 120%
@media (max-width: 270px)
  .short
    display none
@media (max-width: 280px)
  .flexArea > *, #espace-accueil>article>div>div>ul>li, .focusBox
    padding 0
    *
      padding 0
    >a .picto
      font-size 40vw
      line-height 40vw
      >img
        height 40vw
@media (max-width: 180px)
  li, article, #espace-accueil>article div >div >ul >li
    margin 0
    padding-left 0
    padding-right 0
  h1, h2, h3, h4, .focusBox, #splash a
    font-size 100%
  body
    font-size 10vw
    line-height 15vw
@media (max-width: 120px)
  nav.main h1
    display none
  nav.main
    min-height menuHeightArea

@media (min-width: 731px) and (max-width: 860px)
  nav.main h1 a+a
    display none
@media (min-width: 731px) and (max-width: 790px)
  nav.main .short span
    display none

@media (max-width: 830px)
  //.short,
  .long
    display none
@media (max-width: 730px)
  #splash .button
    display none
  nav.main
    display block
    width 100vw
    >a
      display none
    &.active>a
      display block

    &:before
      content '☰'
      padding 0 (menuHeight/3)
      color white
      display block
      position absolute
      right 0
      top 0
      font-size (menuHeight/2)
      cursor pointer
      &:hover
        color colorOr




.altLang img
  max-height 2em

#disclamer
  position fixed
  z-index 2
  top 60px
  background #FED
  padding 20px
  left 0
  right 0
  .close
    float right
    padding 20px
    margin -20px
    cursor pointer

.email
  padding 20px
  width 100%
  border 1px solid black

img
  max-width 90vw
  max-height 50vh

.portrait
  max-width 30vw
  max-height 70vh
  float right
  margin 5vw
  margin-top 0
  margin-bottom 2vh


footer
  background bgMenu
  padding 10px 5vw
  *
    color sable
  a
    text-decoration-color alpha(sable, .3)
  a:hover
    text-decoration-color alpha(sable, .9)
  .l1
    display flex
    justify-content space-between
    flex-flow revert
    flex-direction row-reverse
  .altLang
    text-align center
    img
      vertical-align middle

.button, a[title*="button"]
  font-size buttonTextSize
  background-color bgButton
  color buttonTextColor
  display inline-block
  //border solid 2px buttonTextColor
  border-radius 2*smallSpace
  padding smallSpace 4*smallSpace
  cursor pointer
  letter-spacing 4px
  font-weight bold
  text-shadow none
  text-decoration none
  transition transform 0.4s cubic-bezier(0.5,2,0.5,2)
  &:hover
    transform scale(1.05)
.withPicto, a[title*="withPicto"]
  padding-left 7*smallSpace
  padding-right 3*smallSpace
  background-image url("img/lang.svg")
  background-size calc(1.6 * ( 1vw + 1vh ) )
  background-repeat no-repeat
  background-position 2.2*smallSpace smallSpace
.agenda
  background-image url("img/calendar.svg")
.right
  float right
  margin-left 20px


iframe.full
  position fixed
  top menuHeight
  left 0
  right 0
  bottom 0
  width 100%
  height "calc(100% - %s - 70px)" % menuHeight // 70px : footer

.flexArea
  display flex
  flex-wrap wrap
  > *
    flex 1 350px
    //border-left solid alpha(lighten(colorOr,10%),.4) 1px
    padding 0 20px
    position relative
    border none
    margin 5px
    display block
    text-decoration none
    color darken(sable,95%)
    background-size cover, cover;
    border-radius 50px 0 50px 0
    &:hover
      box-shadow 0 2px 4px 4px alpha(bgButton,.2)
    &:first-child
      border-left none
  h2
    font-family great_vibes, cursive
    font-size 200%
  .right
    margin-top 12px
  h3
    text-transform uppercase
    font-size 130%
    color linkColor
    font-family now, sans-serif


h1
  font-weight bold
  font-size 160%
h2
  //font-weight normal
  font-size 130%
h3
  //font-weight lighter

.col
  columns: 5 300px;
.col4
  columns: 4 300px;
.col3
  columns: 3 300px;
.col2
  columns: 2 300px;

center *
  text-align center



/***
Events
 */

.event {
  box-shadow: 0px 2px 4px 4px rgba(184,122,0,0.2);
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1200px;
}
.event .button {
  background: #da2;
  letter-spacing: 1px;
  padding: 5px 20px;
  border-radius: 15px;
  font-size: 1.5em;
  margin: 5px 0;
}
.event .button:last-child {
  margin-left: 20px;
}
.event .illu,
.event .illu img
{
  width: 200px;
  height: 200px;
  display: block;
}
.event img { object-fit: cover; }
.event h2, .event .teaser {margin: 0; text-indent:0;}
.event>div{ flex: 1 300px; padding: 5px 20px;}
.event .date {
  text-transform: uppercase;
  font-size: 130%;
  color: #183b00;
  padding-right: 5px;
}
.event .place { text-align: right; }
.event > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.event > div > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.event h2 + div { order: -1; }
.event h2 + div > * { flex: 1 200px; }
.event.past { max-width: initial; }
.event.past > div > div { justify-content: left; }
.event .titleShort {display: none;}
.event.past .titleShort {display: initial;}
.event.past .titleLong {font-weight: normal;}

a.partenaire
  text-decoration none
  > div
    justify-content initial
a.partenaire:hover
  text-decoration none
  background-color alpha(white,0.5)
.event.partenaire img
  object-fit contain
  height auto
/***
fin Events
 */


/***
 review card / témoignages / temoignages
 */
._1gallery.review
  font-size 1em
  *
    font-size 1em
  .prev, .next
    display none
  max-width 1200px
  margin auto
  height 350px
  .message
    text-align center
    font-size 140%
    font-family 'grundschrift', great_vibes, cursive
    padding 20px
    margin 20px
    background-color darken(sable,15%)
    box-shadow 0px 2px 4px 4px alpha(darken(sable,50%),50%)
  .author
    text-align right
    margin-right 50px
    .name
      font-weight bold
    .activity
      display block
      font-style italic

hr
  clear both

.flashy
  background linear-gradient(to right, fuschia 0px, fuschia 500px, alpha(fuschia,0) 100%)
  color white
  font-width bold
  padding 20px 50px
  font-size 150%
